---
title:Brightcove 播放器文檔
parent: null
---

<article class="bcls-article">
  <h1>Brightcove 播放器文檔</h1>
  <p>
    Brightcove Player開發允許您自定義播放器，與之集成或向其添加功能。開發工具是Player API，以及HTML5，CSS和JavaScript的標準網絡技術。
  </p>
  <p>
    查看廣泛的清單<a href="/code-samples/index.html">代碼樣本</a>玩家定制的可能性。
  </p>
  <p>Brightcove Player版本：</p>
  <p>
    當前的：<a href="/release-notes/brightcove-player-release-notes.html"> v6.57.1</a> </p>
  <p>
    預發布：<a href="/release-notes/brightcove-player-prerelease-notes.html">沒有任何</a> </p>
  <section class="card-wrapper">
    {% for section in site.data.navigation offset:1 %} <section class="bcls-card-small" onclick="window.location.href='{{ section.url }}'">
      <div class="card-content">
        <h2>{{ section.name }}</h2>
        <ul class="bcls-topic-list">
          {% for doc in section.docs limit:4 %} <li><a href="{{ doc.url }}">{{ doc.name }}</a></li> {% endfor %}
        </ul>
        <p style="font-size:small;"><a href="{{ section.url }}">查看全部...</a></p>
      </div>
    </section>
    {% endfor %}
  </section>
</article>